@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@font-face {
  font-family: BakBak;
  src: url(/fonts/BakbakOne-Regular.ttf);
}

body{
  font-family: var(--font-family-inter);
  font-size: var(--font-size-base);
  color: var(--textwhite);
  background-color: var(--bgblue);
}

/** Main Content Styling */
main{
  width: 100%;
  max-width: 1200px;
  margin: 5rem auto 15rem;
  align-items: center;
}

.count-card{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 15rem auto;
  border-radius: 20px;
  border-radius: 20px;
  background: #27304F;
  box-shadow:  13px 13px 29px #1c233a,-13px -13px 29px #323d64;
  padding: 5rem 3rem 8rem 3rem;
  justify-items: center;
  align-items: center;
}
h1{
  font-size: var(--font-size-40px);
}
h2{
  font-size: var(--font-size-100px);
}
.button__group{
  display: flex;
  max-width: 250px;
  margin: 4rem 2rem 4rem;
  justify-content: space-around;
}
button{
  color: #7c839c;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: unset;
  cursor: pointer;
}
button:hover{
  color: var(--softblue);
}
button img{
  max-width: 30px;
}
#saved-entries{
  font-weight: 700;
  text-align: center;
  line-height: 1.75;
}